<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navbar</title>
  <style>
body {
     margin: 0;
      font-family: Arial, sans-serif;
      }

nav {
  background-color: #333  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #ddd;
}

.titulo-nav{
    padding-left: 5px;
}

    </style>
</head>
<body>
    <nav>
    <div class="navbar-brand">
        <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
        <h1 class="titulo-nav">Cadastro Escolar</h1>
        </a>
    </div>
    <div class="navbar-links">
        <ul>
        <li><%= link_to "Inicio", inicio_path %> </li>
        <li><%= link_to "Alunos", alunos_path %> </li>
        <li><%= link_to "Professores", professors_path	 %></li>
        <li><%= link_to "Turmas", turmas_path	 %></li>
        <li><%= link_to "Disciplinas", disciplinas_path		 %></li>



        
        </ul>
    </div>
    </nav>

    <section>
        <h1></h1>
    </section>



</body>
</html>
