<%= form_with(model: turma, local: true) do |form| %>
    <% if turma.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>
  
        <ul>
          <% turma.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :codigo_turma %>
      <%= form.text_field :codigo_turma %>
    </div>
  
    <div class="field">
      <%= form.label :aluno_id %>
      <%= form.number_field :aluno_id %>
    </div>
  
    <div class="field">
      <%= form.label :professor_id %>
      <%= form.number_field :professor_id %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  