<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Aluno ID</th>
      <th>Professor ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.codigo_turma %></td>
        <td><%= turma.aluno_id %></td>
        <td><%= turma.professor_id %></td>
        <td><%= link_to 'Detalhes', turma %></td>
        <td><%= link_to 'Editar', edit_turma_path(turma) %></td>
        <td><%= link_to 'Apagar', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nova Turma', new_turma_path %> <%= link_to 'Voltar', turmas_path %>

