<div class="aluno-info">
    <h1><strong>Nome:</strong> <%= @aluno.nome_completo %></h1>
    <h1><strong>Email:</strong> <%= @aluno.email %></h1>

    <p><strong>CPF:</strong> <%= @aluno.cpf %></p>
    <p><strong>Data de Nascimento:</strong> <%= @aluno.data_nascimento %></p>
    <p><strong>Turma:</strong> <%= @aluno.turma&.turma %></p>
 <div class="botoes">
    <%= link_to 'Editar', edit_aluno_path(@aluno) %> |
    <%= link_to 'Apagar', aluno_path(@aluno), method: :delete, data: { confirm: 'Tem certeza?' } %> |
    <%= link_to 'Voltar', inicio_path %>
</div>
