<div class="container">
    <div class="form-container">
      <%= form_with(model: @professor, local: true, class: "form") do |form| %>
        <% if @professor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>
  
            <ul>
              <% @professor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
  
        <div class="field">
          <%= form.label :nome_completo %>
          <%= form.text_field :nome_completo, class: "input" %>
        </div>
  
        <div class="field">
          <%= form.label :cpf %>
          <%= form.text_field :cpf, class: "input", %>
       </div>
  
        <div class="field">
          <%= form.label :aniversario%>
          <%= form.date_field :aniversario, class: "input" %>
        </div>
  
        <div class="mb-4">
        <%= form.label :turma_id %>
        <%= form.select :turma_id, options_for_select(Turma.all.map { |t| [t.turma, t.id] }), class: "input" %>
      
        </div>
  
        <div class="actions">
          <%= form.submit 'Criar professor', class: "input"%>
        </div>
      <% end %>
    </div>
  </div>
