<div class="container">
  <div class="form-container">
    <%= form_with(model: @professor, local: true, class: "form") do |form| %>
      <% if @professor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

          <ul>
            <% @professor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nome_completo %>
        <%= form.text_field :nome_completo, class: "input" %>
      </div>

      <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, class: "input" %>
    </div>

      <div class="field">
        <%= form.label :cpf %>
        <%= form.text_field :cpf, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :aniversario %>
        <%= form.date_field :aniversario, class: "input" %>
      </div>

      <div class="field">
      <%= form.label :turma_ids, 'Turmas' %><br>
      <%= form.collection_check_boxes :turma_ids, Turma.all, :id, :turma, class: "input" do |b| %>
        <div class="collection-check-box">
          <%= b.check_box + b.label %>
        </div>
      <% end %>
    </div>
    
    

      <div class="field">
        <%= form.label :disciplina_ids, 'Disciplinas' %><br>
        <%= form.collection_check_boxes :disciplina_ids, Disciplina.all, :id, :nome, class: "input" do |b| %>
          <div class="collection-check-box">
            <%= b.check_box + b.label %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit @professor.persisted? ? 'Editar Professor' : 'Novo professor', class: "input" %>
      </div>
    <% end %>
  </div>
</div>
