<h1 class="titulo-alunos-professor"><strong>Lista de Professores cadastrados</strong></h1>
<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Data de nascimento</th>
      <th>Turma</th>
    </tr>
  </thead>
  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= link_to professor.nome_completo, professor %></td>
        <td><%= professor.email %></td>
        <td> <%= professor.cpf.gsub(/(\d{3})(\d{3})(\d{3})(\d{2})/, '\1.\2.\3-\4') %></td>
        <td><%= formatar_data_nascimento(professor.data_nascimento) %></td>
        <td>
        <%= professor.turma_id%>
        
      </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<button class="botao-aluno-professor">
  <%= link_to 'Novo Professor', new_professor_path %>
</button>
