



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .aluno-info {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px auto;
        max-width: 600px;
        }

        .aluno-info h1 {
        font-size: 24px;
        }

        .aluno-info p {
        font-size: 16px;
        margin-bottom: 10px;
        }

        .botoes {
        margin-top: 20px;
         }
 
    </style>
</head>
<body>
    <div class="aluno-info">
      <strong>Nome Completo:</strong>
      <%= @professor.nome_completo %>
      <strong>CPF:</strong>
      <%= @professor.cpf %>
      <strong>Data de Nascimento:</strong>
      <%= @professor.data_nascimento %>
     
      <div class="botoes">
      <%= link_to 'Edit', edit_professor_path(@professor) %> |
     <%= link_to 'Voltar', inicio_path	 %>
    </div>
    </div>
    </div>
      
  
      
</body>
</html>