<!-- app/views/professors/show.html.erb -->
<p>
  <strong>Nome Completo:</strong>
  <%= @professor.nome_completo %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @professor.data_nascimento %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
